appdirs==1.4.0
beautifulsoup4==4.5.3
cloudpickle==0.2.2
cymem==1.31.2
cytoolz==0.8.2
flexmock==0.10.2
geopy==1.11.0
murmurhash==0.26.4
nltk==3.2.2
numpy==1.12.0
packaging==16.8
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
pyfiglet==0.7.5
pyowm==2.6.1
pyparsing==2.1.10
requests==2.13.0
selenium==3.0.2
semver==2.7.5
six==1.10.0
spacy==1.6.0
sputnik==0.9.3
textblob==0.11.1
thinc==6.2.0
toolz==0.8.2
tqdm==4.11.2
-e git+https://github.com/aparrish/pytracery.git@fd832925b7919ac43edec313e7c82b7290f711b1#egg=tracery
ujson==1.35
